<!-- commandes.component.html -->

<div class="container mt-4">
    <h2>Create Commande</h2>

    <div class="d-flex">
        <!-- Search Form -->
        <form class="form-inline mb-2">
          <div class="form-group mx-sm-3">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"  [(ngModel)]="searchKeyword" placeholder="Search products">
          </div>
          <button type="button" class="btn btn-primary" (click)="applyFilter()">Search</button>
        </form>

        <form (ngSubmit)="submitCommande()" #commandeForm="ngForm" class="commande-form mt-2 ml-auto">
            <button  class="btn btn-primary " type="submit" [disabled]="!commandeForm.valid">Submit Commande</button>
          </form>

    </div>
  
  
    <!-- Product Table with Checkbox, Search, and Pagination -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
  
      <!-- Define the columns for product information -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let product">{{ product.name }}</td>
      </ng-container>
  
      <!-- Add more columns as needed -->
  
      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="['select', 'name']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['select', 'name']"></tr>
    </table>
  
  
    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
  
    <!-- Commande Form -->
  </div>
  