    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead">
        <div class="inner">
          <h3 class="masthead-brand">Gestion Products</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" [routerLink]="['/home']">Home</a>
            <a class="nav-link" [routerLink]="['/products']">Products</a>
            <a class="nav-link" [routerLink]="['/commandes']">Commandes</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Gestion des Produits et des Commandes</h1>
        <p class="lead">
            Bienvenue sur notre système de gestion des produits et des commandes ! Notre application simplifie la gestion des produits et des commandes, offrant une expérience fluide aux utilisateurs. Naviguez à travers des interfaces intuitives pour gérer efficacement votre inventaire de produits et traiter les commandes en toute simplicité. Avec une authentification sécurisée et un design convivial, notre plateforme assure une expérience fluide et sécurisée pour tous vos besoins en matière de gestion des produits et des commandes.
        </p>
      </main>
     
    </div>
