.mat-elevation-z8{
    .btn-primary,.btn-danger{
        font-size: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        mat-icon{
            font-size: 1.3rem;
        }
    }
    
    .btn-primary{
        margin-right: .25rem;
    }
    
    .btn-danger{
       
    }
}